<div class="grid-container">
  <h1 class="mat-h1">My Dashboard</h1>
  <mat-grid-list cols="{{ ( cardLayout | async )?.columns }}" rowHeight="200px"> <!--QUESTION ABOUT 350 or 200 here-->
    <mat-grid-tile *ngFor="let mc of miniCardData" [colspan]="( cardLayout | async )?.miniCard.cols"
    [rowspan]="( cardLayout | async )?.miniCard.rows">
      <app-mini-card [icon]="mc.icon" [title]="mc.title" [value]="mc.value" [color]="mc.color" [isIncrease]="mc.isIncrease" [isPositiveTrend]="mc.isPositiveTrend" duration="since last month" [percentValue]="mc.percentValue" [isCurrency]="mc. isCurrency"></app-mini-card>
    </mat-grid-tile> 
    <mat-grid-tile [colspan]="( cardLayout | async )?.chart.cols" [rowspan]="( cardLayout | async )?.chart.rows">
      <app-card title="Monthly Income" icon="analytics">
          <app-annual-income-chart></app-annual-income-chart>
      </app-card>
    </mat-grid-tile>
    <mat-grid-tile colspan="2" rowspan="2">
      <app-card title="Latest Transactions" icon="fact_check">
        <app-transactions></app-transactions>
      </app-card>
    </mat-grid-tile>    
    <mat-grid-tile [colspan]="( cardLayout | async )?.chart.cols" [rowspan]="( cardLayout | async )?.chart.rows">
      <app-card title="Coin Allocation" icon="toll">
          <app-coin-allocation-chart></app-coin-allocation-chart>
      </app-card>
    </mat-grid-tile>
    <mat-grid-tile colspan="2" rowspan="2">
      <app-card title="Reminders" icon="done">
        <app-reminders></app-reminders>
      </app-card>
    </mat-grid-tile>   
    <mat-grid-tile [colspan]="( cardLayout | async )?.chart.cols" [rowspan]="( cardLayout | async )?.chart.rows">
      <app-card title="Incoming/Outgoing By Year" icon="sync_alt">
          <app-income-source-chart></app-income-source-chart>
      </app-card>
    </mat-grid-tile>
  </mat-grid-list>

</div>
