<div class="mat-elevation-z8">
  <table mat-table class="full-width-table" matSort aria-label="Elements">
    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
      <td mat-cell class="td-left" *matCellDef="let row">{{row.id}}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
      <td mat-cell class="td-left" *matCellDef="let row">{{row.name}}</td>
    </ng-container>

    <!-- Shares Column -->
    <ng-container matColumnDef="shares">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Shares</th>
      <td mat-cell class="td-left" *matCellDef="let row"  [ngClass]="[row.shares > 0 ? 'positiveshares' : 'negativeshares']">{{row.shares}}</td>
    </ng-container>    

    <!-- Join Date Column -->
    <ng-container matColumnDef="join_date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-right"> Join Date</th>
      <td mat-cell class="td-left" *matCellDef="let row">{{row.join_date | date  : 'MM-dd-yyyy'}}</td>
    </ng-container>  



    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator
      [length]="dataSource?.data.length"
      [pageIndex]="0"
      [pageSize]="50"
      [pageSizeOptions]="[25, 50, 100, 250]">
  </mat-paginator>
</div>
