<section class="home is-fullheight">
    <div class="home-body">
        <div class="container has-text-centered">
            <p>
                Distributed Autonomous Organization (DAO) template project for Indigenous tribes to track their environmental projects using satellite imagery and sensor inputs.
            </p>
            <p>
                Indigenous people make up 6% of the global population, while their traditional indigenous territories make up 80% of the planet’s biodiversity.
            </p>
            <p>
                This project will enable Indigenous communities to monitor their ecosystems with remote sensing and immutable storage of data.
            </p>
            <p>
                Community proposals submitted to the DAO will be evaluated on several categories selected by the members. For example, these could include:
            </p>
            <ul>
                <li>Air</li>
                <li>Biodiversity</li>
                <li>Carbon</li>
                <li>Culture</li>
                <li>Food Security</li>
                <li>Soil</li>
                <li>Water</li>
            </ul>
            <p>
                For each category, a sub-committee will evaluate proposals and maintain the dashboard.
            </p>
            <p>
                Members can earn and trade coins associated with each category by performing services for the community.
            </p>
            <p>
                Please browse the protototype dashboards that will be update by subcommittees that are charge of each
                environnmental category.
            </p>
        </div>  
    </div>
</section>
