<div class="grid-container">
  <h1 class="mat-h1">Water</h1>
  <mat-grid-list cols="{{ ( cardLayout | async )?.columns }}" rowHeight="200px">
    <mat-grid-tile [colspan]="( cardLayout | async )?.chart.cols" [rowspan]="( cardLayout | async )?.chart.rows">
      <app-card title="Monthly Reservoir Levels" icon="analytics">
          <app-reservoir-chart></app-reservoir-chart>
      </app-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="( cardLayout | async )?.chart.cols" [rowspan]="( cardLayout | async )?.chart.rows">
      <app-card title="Water Usage (million of gallons)" icon="analytics">
          <app-water-usage-chart></app-water-usage-chart>
      </app-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="( cardLayout | async )?.chart.cols" [rowspan]="( cardLayout | async )?.chart.rows">
      <app-card title="Rainfall (inches)" icon="analytics">
          <app-rainfall-chart></app-rainfall-chart>
      </app-card>
    </mat-grid-tile>    
    
  </mat-grid-list>
</div>
